* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #08111f 0%,
    #0f172a 45%,
    #111827 100%
  );

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f8fafc;
}

#root {
  min-height: 100vh;
}

.home-page {
  width: 100%;
  max-width: 430px;
  margin: auto;
  padding: 24px 18px 40px;
}